* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Général */
body {
    background-color: #1F3852;
    color: #D9D3C7;
}

button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

button:hover {
    opacity: 0.7;
    box-shadow: 1px 1px 10px white;
}

a {
    text-decoration: none;
    color: #D9D3C7;
}

/* FIN */

header {
    margin: 30px 0;
}

header h2 {
    text-align: center;
    font-size: 5em;
}

#logout:hover {
    text-decoration: underline;
}


#nav-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 45px 0;
}

/* Header */
#a_relative {
    position: relative;
    span {
        position: absolute;
        margin-top: 10px;
        left: 30%;
        line-height: 20px;
        background-color: black;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
    }
}

/* Fin */

/* Home */
#postedBy {
    color: #D9D3C7;
    text-decoration: underline;
    transition: all 0.5s ease-in-out;
}

#postedBy:hover {
    color: #ba964e;
}

.carta {
    width: 25%;
    margin: 10px;
    transition: all 0.4s ease-in-out;
    border-radius: 10px;
    border: 1px solid rgba(213, 211, 211, 0.628);
    cursor: pointer;
}

.carta:hover {
    box-shadow: 1px 1px 10px white;
}

.div-img {
    position: relative;
    height: 20rem;

    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 1px 1px 10px black;
    }

    img {
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.text-product {
    padding: 0 10px;
}

/* Form */

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    align-items: center;


    label,
    input,
    textarea {
        display: block;
        width: 200px;
        margin: 4px 0;
        text-align: center;
    }

    input[type="checkbox"] {
        margin-bottom: 10px;
    }

    div:last-of-type {
        width: 25%;

        button {
            width: 100%;
        }
    }
}



/* Cart */

table {
    width: 100%;
}

table img {
    width: 150px;
}

tr,td,th {
    border: 1px solid;
    text-align: center;
}

/* Fin */